.btn {
    --btn-bg-color: var(--text-color-primary);
    --btn-color: var(--background-color);
    border: 0;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;

    border-radius: 0.5rem;

    font: var(--font-weight-md) var(--font-size-base) / 1.5rem var(--font-family);

    cursor: pointer;

    background: var(--btn-bg-color);
    color: var(--btn-color);
}

.btn:hover {
    --btn-bg-color: var(--brand-gradient);
    --btn-color: var(--surface-color);

    -web-kit-background-clip: initial;
    background-clip: initial;

    color: var(--btn-color);
}

.btn-sm {
    padding: .5rem 1rem;
    font-size: var(--font-size-sm);
}

.btn-md {
    padding: .75rem 1.5rem;
    font-size: var(--font-size-base);
}

.btn-lg {
    padding: 1rem 2rem;
    font-size: 1.125rem;
}

.btn[aria-label] {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        border-radius: inherit;
        inset: 1.5px;
        background-color: var(--background-color);
    }
    &::after {
        content: attr(aria-label);
        background: var(--btn-bg-color);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        position: relative;
        z-index: 1;
    }
}

@media (width >= 80em) {
    
    .btn-sm {
        padding: .75rem 1.5rem;
        font-size: var(--font-size-base);
    }
    
    .btn-md {
        padding: 1rem 2rem;
        font-size: 1.125rem;
    }
}